body {
    font-family: Arial;
    margin: 0px; 
    font-size: large; 
}

/* Slike i ostali elementi su, u mnogim slucajevima, podeseni na 100% unutar svakog <div>-a. Da nije ovako podesen box-sizing (kao ispod), oni bi iskakali iz margina, a levi i desni deo ('side' i 'main') ne bi bili jedan pored drugog, vec bi se desni spustio. */
div {
    box-sizing: border-box;
    overflow: auto;
}

#header1 {
    background-color: yellow;
    padding: 5px;
    text-align: center;
}

#header2 {
    text-align: center;
    background-color: turquoise;
    color: white;
}

/* 'Navigation bar', koji sadrzi linkove, je 'flex container' za njih, pa su oni jedan pored drugog. Da predju marginu, presli bi jednostavno u novi red, zbog 'wrap'-ovanja (STO JE DOBRO ZA RESPONZIVNOST!!!) */
#navbar {
    display: flex;
    background-color: black;
    flex-wrap: wrap;
}

/* Samo linkovi u 'Navigation baru' */
#navbar a {
    color: white;
    padding: 14px 20px;
}

a {
  text-decoration: none;
}

#navbar a:hover, #register-btn-narrow:hover, #register-btn-wide:hover {
    background-color: lightgray;
    color: black;
}

#register-btn-narrow, #register-btn-wide {
  width: 100px;
  border-radius: 20px;
  margin: 5px;
  background-color: lightgray;
  font-size: 19px;
  color: #0000EE;
}

#register-btn-wide {
  float: right;
}

#register-btn-narrow {
  text-align: center;
}

#register-info-narrow, #register-info-wide {
  color: #0000EE;
}

/* Ovaj 'row' je 'flex container' za glavne delove - levi i desni */
#row {  
    display: flex;
    flex-flow: row wrap;
}

#side {
  background-color: seashell;
}

@media screen and (min-width: 600px) {

  /* Levi deo je 30% sirine */
  #side {
    width: 30%;
    padding: 20px;
  } 
  
  /* Glavni, desni deo je 70% sirine. on ce se lepo uklopiti sa levim delom, jer su unutar flex containera i ukupno 100% sirine */
  #main {
    width: 70%;
    padding: 20px;
  }
  .gray {
    padding: 20px; 
  }
  a {
    text-align: center;
  }
  #navbar {
    position: sticky;
    top: 0;
  }
}

@media screen and (max-width: 599px) {
  #header2 {
    font-size: small;
  }
  h2 {
    overflow-wrap: break-word;
  }
  #side {
    width: 100%;
    padding: 5px;
  }
  #main {
    width: 100%;
    padding: 5px;
  }
  a {
    text-align: left;
  }
}

.gray {
  background-color: lightgray;
  width: 100%;
}

/* Sivi footer na dnu */
#footer {
  padding: 20px;
  text-align: center;
  background-color: lightgray;
}

img {
  width: 100%;
}

#info-on-show {
  color: brown;
}

#info-on-hide {
  color: darkgreen;
}

#go-to-top {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: yellow;
}

#ps{
  padding: 0 10px;
}