body {
    font-family: Arial;
    margin: 0px; 
    font-size: large; 
}

/* Images and other elements are, in many cases, set to 100% within each <div>. If the box-sizing wasn’t set like below, they would overflow the margins, and the left and right sections ('side' and 'main') would not be side by side, but the right section would drop down. [Serbian: Slike i ostali elementi su, u mnogim slucajevima, podeseni na 100% unutar svakog <div>-a. Da nije ovako podesen box-sizing (kao ispod), oni bi iskakali iz margina, a levi i desni deo ('side' i 'main') ne bi bili jedan pored drugog, vec bi se desni spustio.] */
div {
    box-sizing: border-box;
    overflow: auto;
}

#header1 {
    background-color: yellow;
    padding: 5px;
    text-align: center;
}

#header2 {
    text-align: center;
    background-color: turquoise;
    color: white;
}

/* The 'Navigation bar', which contains links, is a 'flex container' for them, so they are next to each other. If they exceed the margin, they would simply be displayed to a new line due to 'wrap' (WHICH IS GREAT FOR RESPONSIVENESS!!!) [Serbian: 'Navigation bar', koji sadrzi linkove, je 'flex container' za njih, pa su oni jedan pored drugog. Da predju marginu, presli bi jednostavno u novi red, zbog 'wrap'-ovanja (STO JE DOBRO ZA RESPONZIVNOST!!!)] */
#navbar {
    display: flex;
    background-color: black;
    flex-wrap: wrap;
}

/* Only links in the 'Navigation bar' [Serbian: Samo linkovi u 'Navigation baru'] */
#navbar a {
    color: white;
    padding: 14px 20px;
}

a {
  text-decoration: none;
}

#navbar a:hover, #register-btn-narrow:hover, #register-btn-wide:hover {
    background-color: lightgray;
    color: black;
}

#register-btn-narrow, #register-btn-wide {
  width: 100px;
  border-radius: 20px;
  margin: 5px;
  background-color: lightgray;
  font-size: 19px;
  color: #0000EE;
}

#register-btn-wide {
  float: right;
}

#register-btn-narrow {
  text-align: center;
}

#register-info-narrow, #register-info-wide {
  color: #0000EE;
}

/* This 'row' is a 'flex container' for the main sections - left and right [Serbian: Ovaj 'row' je 'flex container' za glavne delove - levi i desni] */
#row {  
    display: flex;
    flex-flow: row wrap;
}

#side {
  background-color: seashell;
}

@media screen and (min-width: 600px) {

  /* The left section is 30% width [Serbian: Levi deo je 30% sirine] */
  #side {
    width: 30%;
    padding: 20px;
  } 
  
  /* The main, right section is 70% width. It will fit nicely with the left section since they are within a flex container and make up 100% width overall. [Serbian: Glavni, desni deo je 70% sirine. On ce se lepo uklopiti sa levim delom, jer su unutar flex containera i ukupno 100% sirine] */
  #main {
    width: 70%;
    padding: 20px;
  }
  .gray {
    padding: 20px; 
  }
  a {
    text-align: center;
  }
#sticky {
  position: sticky;
  top: 0;
}
.btn-close-content {
  display: none;
}
}

@media screen and (max-width: 599px) {
  #header2 {
    font-size: small;
  }
  h2 {
    overflow-wrap: break-word;
  }
  #side {
    width: 100%;
    padding: 5px;
  }
  #main {
    width: 100%;
    padding: 5px;
  }
  a {
    text-align: left;
  }
}

.gray {
  background-color: lightgray;
  width: 100%;
}

/* The gray 'footer' at the bottom. [Serbian: Sivi 'footer' na dnu] */
#footer {
  padding: 20px;
  text-align: center;
  background-color: lightgray;
}

img {
  width: 100%;
}

#info-on-show {
color: darkgreen;
background-color: black;
padding: 7px;
display: inline-block;
}

#info-on-hide {
color: brown;
background-color: black;
padding: 7px;
display: inline-block;
}

#go-to-top {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: yellow;
height: 30px; /* 2024. */
font-size: 20px;
}

#ps{
  padding: 0 10px;
}

#btn-close-info-on-show, #btn-close-info-on-hide, .btn-close-content {
font-size: 20px;
cursor: pointer;
} 

#custom-alert {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.5);
display: flex;
justify-content: center;
align-items: center;
z-index: 1000;
}

#custom-alert-content {
background-color: white;
padding: 20px;
border-radius: 10px;
text-align: center;
max-width: 80%;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#close-alert {
margin-top: 10px;
padding: 10px 20px;
background-color: #007bff;
color: white;
border: none;
border-radius: 5px;
cursor: pointer;
}

a[href="https://github.com/MarkovicMomir/CV-Momir"] {
color: turquoise;
}